/* styles page */

.center{
text-align: center;
}

#respond-comment-fromWP-to-external-site {
       
    line-height: 135%;
    font-size: 18px;
    margin-bottom: 50px;
    
    overflow-y: auto;
    border:1px solid #efeeee;
    display: block;
}

#wp-comments-response, #respond-comment-fromWP-to-external-site {
    /*border: none;*/
    width: 100%;
    max-width: 866px;    
    margin: auto;
    box-sizing: border-box;
    padding: 25px;
}

#respond-comment-fromWP-to-external-site h3 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}

#form-submit-comment-fromWP-to-external-site {
    margin-bottom: 0px;
}

#form-submit-comment-fromWP-to-external-site p {
    
    overflow: hidden;
}

#form-submit-comment-fromWP-to-external-site p label {
    display: inline-block;
    text-align: left;
    width: 150px;
    min-width: 20%;
    font-size: 16px;
    vertical-align: top;
}
#form-submit-comment-fromWP-to-external-site p input[type=text], #form-submit-comment-fromWP-to-external-site p textarea {
    border: white;    
    background-color: #f5f3f3;
    padding: 8px;
    width: 318px;
    max-width: 100%;
}
.emailnote {
    color: rgb(148, 148, 148);
    font-size: 14px;
    display: block;
    margin-bottom: 40px;
}

.nonDisplay {
    display: none;
}
.hide{
  display: none;
  
}

.validation-form-messaje {
    color: #e14a74;
    padding: 5px 0;
    font-size: 13px;
}
button, #submit-comment-fromWP-to-external-site {    
    background: #eee;
    padding: 15px;
}
#cancel_reply {
    border: none;
    /*background: none;*/
    font-size: 16px;
    color: #717171;
    cursor: pointer;
    margin-right: 16px;

    padding-left: 25px;
    padding-right: 25px;
}
.div-reply-comment {
    margin-top: 25px;
    margin-left: 75px;
    margin-bottom: 25px;
}
span.comment-reply-link {
    color: rgb(64, 63, 63);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding-left: 26px;
    text-transform: lowercase;
    background: url(../img/reply.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
}

.submit-buttons{    
    text-align: center;
}
#form-submit-comment-fromWP-to-external-site input[type=button] {
    color: white;
    font-size: 16px;
    background-color: #5e6669;
    border: none;
    font-family: 'Roboto', sans-serif;  
    font-weight: normal;
    border-radius: 0px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    margin-top: 1.5em;
}

#form-submit-comment-fromWP-to-external-site input[type=button]:hover{
        background-color: #5e6669ba;
}

#html_element{    
    margin-left: 167px;
}



/* comment list*/
#wp-comments-response ul {
    margin-top: 45px;
}
#wp-comments-response ul, #wp-comments-response ol {
    list-style-type: none;
}
#wp-comments-response li {
    margin-bottom: 45px;
}

.comment-author.vcard{

  /*border: 1px solid green;*/
  position: relative;

}

.letter-name {
    color: white;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.avatar_color {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
    text-transform: uppercase;
    opacity: 0.85;
}
.comment-author img, 
.avatar_color {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.avatarImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.author-name {
    /*vertical-align: top;*/
    font-size: 16px;
    font-weight: bold;    
    text-transform: capitalize;
}
.comment-metadata {
    /*display: inline-block;*/
    font-size: 16px;
    margin-left: 74px;
    vertical-align: top;
    color: rgb(102, 119, 115);
}
.comment-content {
    margin-left: 75px;
    font-size: 16px;
    color: rgb(100,100,100);
    line-height: 170%;
    margin-top: 10px;
}
.reply-item{
  color: #04887a;
  margin-left: 75px;
}
#feedback_insert_comment{
  color: #04887a;
  margin-bottom: 1em;

}

/* end list comments styles*/